// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.business-card {
    @extend .shadow-sm;
    border-radius: 20px;
    background-color: $white;
    padding: 15px;
    @extend .mb-3;

    h3 {
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0;
    }
    p {
        font-size: 14px;
        color: $gray-600;
    }

    a {
        @extend .text-decoration-none;
        color: $gray-400;
        @extend .font-weight-bold;
        @extend .text-capitalize;
    }

    &:hover {
        background-color: $primary;

        h3, p, a{
            color: $white !important;
        }
    }
}
.digital-agency-card {
    border-radius: 50px;

    h5 {
        @extend .d-flex;
        @extend .justify-content-between;

        i {
            &.checked {
                color: orange;
            }
            font-size: 12px;
            text-align: right !important;
        }
    }

    a {
        color: $gray-600;
        font-size: 12px;
        font-weight: 700;
        @extend .text-decoration-none;
        @extend .d-flex;
        @extend .align-items-center;

        span {
            width: 140px;
            display: inline-block;
        }

        img {
            width: 12%;
            display: inline-block !important;
        }
    }

    img {
        @extend .d-block;
    }

    img.hover {
        @extend .d-none;
    }

    &:hover {
        @extend .shadow-lg;

        img {
            @extend .d-none;
        }

        img.hover {
            @extend .d-block;
        }

        a {
            color: $primary;
        }
    }
}
